:root {
  --first-color: #e31d2e;
  --web-white: #f4f4f4;
  --web-balck: #2e2e2e;
  --main-white: #e2e2e2;
  --main-balck: #111;
  --text-white: #f6f6f6;
  --text-balck: #101010;
  --white: #fff;
  --balck: #000;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--text-black);
}
.jumbotron {
  color: var(--web-white);
  background-image: url("./files/hero.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .jumbotron {
    height: 50vh;
  }
}
.navicon {
  height: 60px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.navicon .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.navicon .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.navicon .logo a img {
  max-width: 100%;
  max-height: 60px;
  padding: 10px 0 10px 0;
}

.navicon .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.navicon .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navicon .navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.navicon .navbar ul li a:hover {
  color: #000;
  background-color: rgba(230, 230, 230, 0.623);
  transition: ease 0.4s;
}

.navicon .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.navicon .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #222;
  padding: 0 10px;
  cursor: pointer;
}

.navicon .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.navicon .navbar .icon-bar i {
  background-color: #212121;
  height: 2px;
}
.right {
}
@media only screen and (max-width: 650px) {
  .navicon {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navicon .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navicon .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .navicon .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .navicon .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .navicon .navbar ul .close {
    display: block;
  }

  .navicon .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navicon .navbar ._Menus-show {
    left: 0;
  }
}

.right {
  right: 0;
  position: absolute;
  display: inline-block;
}
.s1 .search {
  display: block;
  width: 100%;
  background-color: var(--text-white);
  border: #111 solid 1px;
  border-radius: 10px;
  padding: 10px;
}
.s1 h1,
h3 {
  color: var(--first-color);
  text-align: center;
}
.s1 h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.s1 h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.s1 table,
td,
tr,
th {
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
  font-size: 24px;
  color: #e2e2e2;
  padding: 3px;
  margin-top: 100px;
  margin-left: 255px;
}
.s1 ul li {
  font-size: 14px;
  text-align: center;
  list-style-type: "►";
}

.s1 ul li a:hover {
  color: rgba(0, 0, 0, 0.7);

  transition: ease-in-out 0.7s;
}
.s1 .input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  border: #111 1px solid;
}
.s1 .input:focus {
  outline: thick #111 3px solid;
  border-radius: 3%;
}
.search .search-btn {
  width: 100%;
  display: block;
  margin: 10px 5px;
}
.s1 hr {
  border-color: #111;
  border-style: solid;
  width: 100%;
}
.goup {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #111111f1;
  color: var(--white);
  text-align: center;
}
.goup a {
  font-size: 24px;
  font-weight: 500;
  padding: 0 30px;
}
.s2 {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #f7f7f7;
}
.s2 h1 {
  font-size: 30px;
  line-height: 70px;
  color: var(--first-color);
}
